

* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(25, 43, 43);
    color: #fff;
}

.container{
    margin-right: auto;
    margin-left: auto;
    width: 15rem;
}

.header h1, h3{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
}

.content {
    background-color: aqua;
    height: 10rem;
    width: 15rem;
    margin-bottom: 20px;    
}

.section2{
    margin-top: 30px;
}

p{
    margin-bottom: 8px;    
} 

.links-changes {
    color: rgb(20, 4, 4);
    background-color: #fff;
    padding: .1rem .6rem 2rem 6.8rem;
    /* border: 1px solid black;     */
    display: flex;
    justify-content: flex-end;   
}

.links-positions{
    margin-bottom: 5rem;
}

.links-changes div{
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    color: rgb(20, 4, 4);
    background-color: #fff;
}

